@model ITP.Models.supplierlog

@{
    ViewData["Title"] = "Details";
}
<style>
    div.col-md-6 {
        filter: drop-shadow(10px 10px 10px black);
    }
</style>
    <body style="background-image: linear-gradient(#00008b, #483d8b,#6a5acd,#4682b4,#87ceeb); ">
        <div class="col-md-6" style="position:absolute;margin-left:30%;margin-top:3%; padding-left:30px">
            <img src="~/Images/supplyimg/senari2.png" alt="Alternate Text" class="img-responsive" style="width:670px; height: 500px;" />
        </div>
    <div style="background-color:white; border-radius:30px; padding:25px;width:450px; margin-top:5%;">

        <h4 style="text-align:center; color:cornflowerblue;"><b>SEE DETAILS</b></h4>
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ProductID)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.SupplierID)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.SupplierID)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ProductCatergory)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ProductCatergory)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.BrandName)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.BrandName)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.SupplyDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.SupplyDate)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.QuantityPurchased)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.QuantityPurchased)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.TotalPrice)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.SupplyStatus)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.SupplyStatus)
            </dd>
        </dl>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        <a asp-action="Index" class=" btn btn-outline-primary">Back to List</a>
    </div>
</body>
