  <style>
        #nav-bar {
            color: black !important;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }



        #nav-bar {
            position: sticky;
            top: 0;
            z-index: 10;
        }

        .navbar {
            background-color: #F8F8F8;
            padding: 0 !important;
        }





        .titl {
            font-size: 40px;
            font-weight: 600;
            margin-top: 100px;
        }

        .fa-play-circle {
            font-size: 40px;
            color: white !important;
            margin: 20px;
        }

        .log li a {
            text-decoration: none;
        }



        .nav-link:hover {
            color: #0099FF !important;
        }

        .search {
            width: 450px !important;
        }

        .sbtn {
            height: 38px !important;
            background-color: #0099FF !important;
        } 

       
    </style>


<section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/pictures/logo.png" id="logo" width="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-sliders-h"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="margin-top:10px;">
                        <li class="nav-item" style="margin-left:40px;">
                            <a class="nav-link" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item" style="margin-left:40px;">
                            <a class="nav-link" href="#">SHOP</a>
                        </li>
                        <li class="nav-item" style="margin-left:40px;">
                            <a class="nav-link" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item" style="margin-left:40px;">
                            <a class="nav-link" href="#">CONTACT US</a>
                        </li>
                        <li class="nav-item" style="margin-left:40px;">


                            <div class="input-group mb-3">
                                <input type="text" class="form-control search" placeholder="Search Product" aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <span class="input-group-text sbtn"><i class="fa fa-search" style="color:white !important"></i></span>
                                </div>
                            </div>

                        </li>
                        <li class="nav-item" style="font-size:30px;color:#0099FF;margin-left:40px;">
                            <i class="fas fa-shopping-cart"></i>
                        </li>

                        <li class="nav-item" style="margin-top:-7px;margin-left:40px;">

                            <div class="dropdown">
                                <a href="#" id="imageDropdown" data-toggle="dropdown">
                                    <i class="far fa-user-circle" style="font-size:50px;color:#0099FF"></i>
                                </a>
                                <ul class="dropdown-menu log" role="menu" aria-labelledby="imageDropdown" style="position:absolute;top:64px;left:-81px; background-color: #F8F8F8;">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" asp-action="@ViewData["action3"]" asp-controller="Customer" style="padding-left:20px;"><i class="fas fa-user" style="margin-right:15px;"></i>@ViewData["action1"]</a></li>
                                    <br>
                                    <li role="presentation"><a role="menuitem" tabindex="-1"  asp-action="@ViewData["action4"]" asp-controller="Customer" style="padding-left:20px;"><i class="fas @ViewData["icon"]" style="margin-right:15px;"></i>@ViewData["action2"]</a></li>

                                </ul>
                            </div>


                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </section>