@using ITP.Models
@model List<ViewCartDetailsModel>
@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>

<br />
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name </th>
                <th>Description</th>
                <th>Quntity</th>
                <th>Price</th>
                <th>Total Price</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>
                    <img src="~/Images/Items/@item.ImageName" height="70px" object-fit="contain" />
                </td>
                <td>@item.IBrand</td>
                <td>@item.IDescription</td>
                @*<td>@item.Quntity</td>*@
                <td><input asp-for="@item.Quntity" type="number" value="@item.Quntity" onchange="setItemTotal(this)"/></td>
                <td>@item.IUPrice</td>
                <td>@(item.Quntity*item.IUPrice)</td>
                
               

                <td>
                    <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.IItemId" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                @*<td>
            <a asp-action="Update" asp-controller="Home" asp-route-id="@item.IItemId" class="btn btn-danger">
                <i class="fas fa-pencil-alt"></i>
            </a>
        </td>*@
            </tr>
            }

        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
    </div>
    <div class="col-6 text-right">
        <h3>Total Amount</h3>
        <h3>Grant Total : @Model.Sum(c => c.IUPrice) </h3>
        <a  asp-action="Checkout" asp-controller="Order" class="btn btn-info">Process to Checkout</a>
    </div>
</div>

<script>
    function setItemTotal(e) {
        var qty = $(e).val();
        var up = parseFloat($(e).closest("td").next().text());
        $(e).closest("td").next().next().text(qty * up);

    }

</script>