@model ITP.Models.Customer
@{ 
    Layout = "_layout1";
 }
<style>
    .cf{
        background-color: #f2f2f2;
    }
    .table {
        border-collapse: separate;
        border-spacing: 0 10px;
        
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 4px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0099FF;
            color: white;
        }
   #footer{
        display:none;
    }
   header{
       display:none;
   }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous"></script>

    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container-fluid cf" style="height:630px">
<div class="row" >
    <div class="col-md-12 my-auto ">
      

        <div class="row" style="margin-top:50px">
            <div class="col-md-3"></div>
            <div class="col-md-5">

                <form class="d-flex" method="get" asp-action="CustomerList2">
                    <input class="form-control me-2" type="search" placeholder="Search for a customer" aria-label="Search" value="@ViewData["cusdetails"]" name="cusSearch">
                    <button class="btn btn-outline-success" type="submit">Search</button>

                </form>
            </div>
            @*<div class="col-md-6 ">
                  <h2>Customer list</h2>
            </div>*@
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-top:60px">
                <a asp-action="CustomerList" class="btn btn-outline-success"> All Customer</a>
            </div>
            <div class="col-md-4" style="margin-top:40px">
                <h1>Customer List</h1>
            </div>
            <div class="col-md-4" style="margin-top:30px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom:30px;margin-top:30px;margin-left:230px;">
                    Add Customer
                </button>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #0099FF;">
                        <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="Customercreate">
                            <label>First Name</label>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            <label>Last Name</label>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            <label>Address</label>
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@id = "em" })
                            <label>Phone Number</label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control",@id = "pn" })
                            <label>NIC</label>
                            @Html.TextBoxFor(m => m.NIC, new { @class = "form-control",@id ="nic" })
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button href="#" class="btn btn-primary" id="btnsave" disabled ="disabled">Add Customer</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="padding-bottom:150px">
            <div class="col-md-12">


                <table class="table table-hover" style="font-size:15px;margin-top:-20px;" id="customers">
                    <thead>
                        <tr class="table-light">
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cusid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.NIC)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.totalcustomer)
                        {
                            <tr class="bg-white">
                                <td>
                                    <img src="~/Images/Customer/@item.Image" style="width:40px;height:40px;border-radius:50%" id="pich" />
                                </td>
                                <td>
                                    @item.Cusid
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.Email
                                </td>

                                <td>
                                    @item.Address
                                </td>

                                <td>
                                    @item.NIC
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    <i type="button" class="btn btn-success fas fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal1" onclick="editcus(@item.Cusid, '@item.FirstName', '@item.LastName', '@item.NIC', '@item.Address', '@item.PhoneNumber', '@item.Email')">
                                      
                                    </i>
                                    <i type="button" class="btn btn-primary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal2" onclick="viewcus(@item.Cusid, '@item.FirstName', '@item.LastName', '@item.NIC', '@item.Address', '@item.PhoneNumber', '@item.Email')">
                                        
                                    </i>

                                    <i type="button" class="btn btn-danger fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#exampleModal3" onclick="confirmDelete(@item.Cusid)">
                                       
                                    </i>
                                </td>
                            </tr>
                        }

                    </tbody>
                    <input type="hidden" id="wid" />
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>







<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0099FF;">
        <h5 class="modal-title text-white" id="exampleModalLabel">Customer Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <h3>Are you sure you want to Delete?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-danger" id="delcus">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0099FF;">
        <h5 class="modal-title text-white" id="exampleModalLabel">Customer Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <label>Cusid</label>
                                    <input readonly id="dis0" class="form-control" />
                                    <label>FirstName</label>
                                    <input readonly id="dis1" class="form-control" />
                                    <label>LastName</label>
                                    <input readonly id="dis2" class="form-control" />
                                    <label>Email</label>
                                    <input readonly id="dis3" class="form-control" />
                                    <label>NIC</label>
                                    <input readonly id="dis4" class="form-control" />
                                    <label>PhoneNumber</label>
                                    <input readonly id="dis5" class="form-control" />
                                    <label>Address</label>
                                    <input readonly id="dis6" class="form-control" />
                                        
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>



<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0099FF;">
        <h5 class="modal-title text-white" id="exampleModalLabel">Customer Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form id="Customeredit">
          <label>Cusid</label>
          @Html.TextBoxFor(m => m.Cusid, new { @class = "form-control", @id = "in0",@Readonly = "readonly" })
                    <label>First Name</label>
                                      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "in1" })
                                        <label>Last Name</label>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "in2" })
                                        <label>Address</label>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "in3" })
                                        <label>Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "in4" })
                                        <label>Phone Number</label>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "in5"})
                                        <label>NIC</label>
                                        @Html.TextBoxFor(m => m.NIC, new { @class = "form-control", @id = "in6" })
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="editdata2"  >Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>


<script>
    $(document).ready(function () {

        $("#btnsave").click(function () {
            var data1 = $("#Customercreate").serialize();

            $.ajax({
                type: "POST",
                url: "/TLC_Admin/saveCustomer",
                data: data1,
                success: function () {
                    window.location.reload(true);
                }
                
            })
        })

        $("#delcus").click(function () {
            var _id = $("#wid").val();
            $.ajax({
                type: "POST",
                url: "/TLC_Admin/Delete_byadmin",
                data: { id: _id },
                success: function () {
                    window.location.reload(true);
                }
                


            })
        })
        $("#editdata2").click(function () {
            var data1 = $("#Customeredit").serialize();
            $.ajax({
                type: "POST",
                url: "/TLC_Admin/Editcusdata",
                data: data1,
                success: function () {
                    window.location.reload(true);
                }
            })
        })
    })

    var confirmDelete = function (id) {

        $("#wid").val(id);

    }
    var editcus = function (id,f,l,n,a,p,e) {
        $("#in0").val(id);
        $("#in1").val(f);
        $("#in2").val(l);
        $("#in3").val(a);
        $("#in4").val(e);
        $("#in5").val(p);
        $("#in6").val(n);

    }
    var viewcus = function (id, f, l, n, a, p, e) {

        $("#dis0").val(id);
        $("#dis1").val(f);
        $("#dis2").val(l);
        $("#dis3").val(e);
        $("#dis4").val(n);
        $("#dis5").val(p);
        $("#dis6").val(a);

        }



    $('#in4').on('keyup', function () {
    var va = $('#in4').val();
    var testEmail = /^[A-Z0-9._%+-]+@@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    if (testEmail.test(va)) {
        $('#editdata2').removeAttr('disabled');
    }
    else {
        $('#editdata2').attr('disabled', 'disabled');
    }
    });


    $('#in5').on('keyup', function () {
        var va = $('#in5').val();
        var testphone = /^[0-9]{10}$/i;
        if (testphone.test(va)) {
            $('#editdata2').removeAttr('disabled');
        }
        else {
            $('#editdata2').attr('disabled', 'disabled');
        }
       
    });



    $('#in6').on('keyup', function () {
        var va = $('#in6').val();
        var testnic = /^[0-9]{9}[V]{1}$/i;
        if (testnic.test(va)) {
            $('#editdata2').removeAttr('disabled');
        }
        else {
            $('#editdata2').attr('disabled', 'disabled');
        }

    });




   

    $('#em').on('keyup', function () {
        var va = $('#em').val();
        var testEmail = /^[A-Z0-9._%+-]+@@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
        if (testEmail.test(va)) {
            $('#btnsave').removeAttr('disabled');
        }
        else {
            $('#btnsave').attr('disabled', 'disabled');
        }
    });


    $('#pn').on('keyup', function () {
        var va = $('#pn').val();
        var testphone = /^[0-9]{10}$/i;
        if (testphone.test(va)) {
            $('#btnsave').removeAttr('disabled');
        }
        else {
            $('#btnsave').attr('disabled', 'disabled');
        }

    });



    $('#nic').on('keyup', function () {
        var va = $('#nic').val();
        var testnic = /^[0-9]{9}[V]{1}$/i;
        if (testnic.test(va)) {
            $('#btnsave').removeAttr('disabled');
        }
        else {
            $('#btnsave').attr('disabled', 'disabled');
        }

    });




   

</script>


