
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>sampleAdmin</title>
    <style>
        header {
            display: none;
        }

        #footer {
            display: none;
        }

        body {
            background: #efefef;
            background-repeat: no-repeat;
            background-size: contain;
        }

        #wrapper {
            overflow-x: hidden;
        }

        #sidebar-wrapper {
            min-height: 100vh;
            margin-left: -15rem;
            -webkit-transition: margin 0.25s ease-out;
            -moz-transition: margin 0.25s ease-out;
            -o-transition: margin 0.25s ease-out;
            transition: margin 0.25s ease-out;
        }

            #sidebar-wrapper .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
            }

            #sidebar-wrapper .list-group {
                width: 15rem;
            }

        #page-content-wrapper {
            min-width: 100vw;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }

        #menu-toggle {
            cursor: pointer;
        }

        .list-group-item {
            border: none;
            padding: 20px 30px;
        }

            .list-group-item.active {
                background-color: transparent;
                color: var(--main-text-color);
                font-weight: bold;
                border: none;
            }

        #sidebar-wrapper .list-group a:hover {
            background-color: #9724B2 !important;
        }

        .list-group-item {
            margin: 8px;
            border-radius: 15px;
            width: 200px;
            background-color: white;
        }

            .list-group-item:hover {
                background-color: #9724B2 !important;
            }

            .list-group-item:hover {
                color: white !important;
            }

        .primary-text {
            background-color: #9724B2 !important;
            color: white !important;
        }

        @@media (min-width: 768px) {
            #sidebar-wrapper {
                margin-left: 0;
            }

            #page-content-wrapper {
                min-width: 0;
                width: 100%;
            }

            #wrapper.toggled #sidebar-wrapper {
                margin-left: -15rem;
            }

            .dropdown-toggle::after {
                display: none;
            }
        }
    </style>
</head>
<body>



    <div class="d-flex" id="wrapper">


        <div class="bg-white" id="sidebar-wrapper">

            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase " style="background-color:dodgerblue !important;height:110px;">
                Owner
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active" id="btn1">
                    <i class="fas fa-tachometer-alt me-2"></i>Profile
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" id="btn2">
                    <i class="fas fa-users me-2"></i>Customers
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" id="man">
                    <i class="fas fa-users-cog me-2"></i>Managers
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-chart-pie me-2"></i>Analysis
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="far fa-flag me-2"></i>Notices
                </a>
                <a href="#" id="Driver" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-truck-moving me-2"></i>Driver
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" id="btn8">
                    <i class="fas fa-star me-2"></i>Feedbacks
                </a>

                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" id="cont">
                    <i class="fas fa-map-marker-alt me-2"></i>Contacts

                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-map-marker-alt me-2"></i>Orders

                </a>
                <a href="#" id="cart" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fas fa-shopping-cart me-2"></i>Cart
                </a>
            </div>
        </div>

        <div id="page-content-wrapper">




            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <div class="d-flex align-items-center nav-link">
                        <i class="fas fa-align-left  fs-4 me-3" id="menu-toggle"></i>
                        <img src="~/Images/Customer/logo.png" style="width:80px;" />
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        <ul class="navbar-nav  ml-auto ">

                            <li class="nav-item dropdown nav-link">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Images/Manager/@ViewBag.mpic" width="60" height="60" class="rounded-circle" />
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" asp-action="Managerprofile" asp-controller="TLC_Admin">Profile</a></li>
                                    <li><a class="dropdown-item" asp-action="logout" asp-controller="TLC_Admin">Logout</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>




            <div class="container" id="con">

                <div class="row">
                    <div class="card text-center" style="margin-top: 30px; margin-left: 30px; margin-right: 30px;">
                        <div class="card-header">
                            <h4> @String.Format("{0:dd/MM/yyyy}", ViewBag.TerminoDaAvaliacao)</h4>
                        </div>
                        <div class="card-body" style="background-color:white">
                            <h2 class="card-title">Welcome @ViewBag.name</h2>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">

                            <h1>@ViewBag.day</h1>
                        </div>
                    </div>
                </div>

                <div class="container-fluid px-4" style="margin-left:30px;">
                    <div class="row g-3 my-2">
                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.cuscount</h3>
                                    <p class="fs-5">Users</p>
                                </div>
                                <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.itemcount</h3>
                                    <p class="fs-5">Products</p>
                                </div>
                                <i class="fas fa-tv fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.ecount</h3>
                                    <p class="fs-5">Employees</p>
                                </div>

                                <i class="fas fa-users-cog fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.ocount</h3>
                                    <p class="fs-5">Orders</p>
                                </div>
                                <i class="fas fa-shopping-cart fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 my-2">
                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.mocount</h3>
                                    <p class="fs-5">Month Income</p>
                                </div>
                                <i class="fas fa-money-bill-alt fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.scount</h3>
                                    <p class="fs-5">Suppliers</p>
                                </div>
                                <i class="fas fa-people-carry fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.dcount</h3>
                                    <p class="fs-5">Vehicals</p>
                                </div>
                                <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2 counter">@ViewBag.fcount</h3>
                                    <p class="fs-5">Reviews</p>
                                </div>
                                <i class="fas fa-newspaper fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="~/js/site.js"></script>

    <script>

        $(document).ready(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 1200
            });
        });
                    var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");






                    toggleButton.onclick = function () {
                        el.classList.toggle("toggled");
                    };


                    document.getElementById("btn1").onclick = function () { myFunction() };
                    function myFunction() {

                     $("#con").load("@Html.Raw(Url.Action("_dashboard", "TLC_Admin")) ")
                    }


                    document.getElementById("btn2").onclick = function () { myFunction1() };
                    function myFunction1() {

                     $("#con").load("@Html.Raw(Url.Action("_customer", "TLC_Admin")) ")
                     }


                     document.getElementById("man").onclick = function () { managerfunc() };
                     function managerfunc() {

                     $("#con").load("@Html.Raw(Url.Action("managerpartail", "TLC_Admin")) ")
                     }

      
                    document.getElementById("Driver").onclick = function () { myFunction4() };
                    function myFunction4() {

                     $("#con").load("@Html.Raw(Url.Action("DriverDash", "TLC_Admin")) ")
                    }

      
                    document.getElementById("btn8").onclick = function () { myFunction2() };
                    function myFunction2() {

                     $("#con").load("@Html.Raw(Url.Action("FeedbackPartial", "TLC_Admin")) ")
                    }

                    document.getElementById("cont").onclick = function () { myFunction5() };
                    function myFunction5() {

                     $("#con").load("@Html.Raw(Url.Action("ContactPartial", "TLC_Admin")) ")
                    }

                    document.getElementById("cart").onclick = function () { myFunction3() };
                    function myFunction3() {

                     $("#con").load("@Html.Raw(Url.Action("CartPartialView", "TLC_Admin")) ")
                    }


    </script>
</body>
</html>
