@model IEnumerable<ITP.Models.excessfaultyclass>

@{
    ViewData["Title"] = "Index";
}







    <h1 style="color:#167398; text-align:center"><b>EXCESS FAULTY LIST</b></h1>
    <style>
        tr:nth-child(even) {
            background-color: #d0eaea;
        }

        tr:hover {
            background-color: #32c7d1
        }
    </style>
    <style>
        .center {
            text-align: center;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                    border-radius: 5px;
                }
    </style>

    <p>
        <a asp-action="Create">Add New Excess/Faulty Goods</a>
    </p>

    <table class="table">

        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExcessFaultyStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityPurchased)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExcessFaultyStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityPurchased)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SupplierID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SupplierID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <div class="center">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>

